div.container
	form.form-signin(ng-submit="Login()")
		input.form-control(type="text",placeholder="Account",ng-model="account")
		input.form-control(type="password",placeholder="Pwd",ng-model="password")
		button(type="submit").btn.btn-primary.btn-lg.btn-block Block level button